<section id="inicio" class="bg-slate-950 text-white min-h-[90vh] flex items-center pt-32">

  <div class="container mx-auto px-6 grid md:grid-cols-2 gap-10 items-center">

    <div data-aos="fade-right">

      <span class="text-cyan-400 font-semibold uppercase tracking-widest">
        Engenharia & Soluções Industriais
      </span>

      <h2 class="text-5xl md:text-6xl font-bold leading-tight mt-4">
        MANUTENÇÃO ELÉTRICA INDUSTRIAL
      </h2>

      <p class="text-slate-300 text-lg mt-6 leading-relaxed">
        Soluções em montagem e manutenção industrial com excelência técnica, 
        segurança e compromisso com o desempenho da sua empresa.
      </p>

      <div class="mt-8 flex gap-4">

        <a href="#contato"
          class="bg-cyan-500 hover:bg-cyan-400 transition px-6 py-3 rounded-xl font-semibold text-slate-900 inline-flex items-center justify-center">
          Solicitar orçamento
        </a>

          <a href="#emergencial" 
            class="border border-cyan-400 hover:border-red-500 hover:text-red-500 text-cyan-400 transition px-6 py-3 rounded-xl">
            Emergêncial
          </a>

      </div>

    </div>

    <div class="flex justify-center" data-aos="fade-left">

      <img src="assets/hero.jpg" alt="Engenharia"
        class="rounded-3xl shadow-2xl object-cover h-[400px] w-full" />

    </div>

  </div>

</section>