<section id="contato" class="bg-slate-900 text-white py-24">

  <div class="container mx-auto px-6">

    <div class="text-center mb-16">

      <span class="text-cyan-400 uppercase tracking-widest font-semibold">
        Fale conosco
      </span>

      <h2 class="text-4xl md:text-5xl font-bold mt-4">
        Entre em contato
      </h2>

      <p class="text-slate-400 mt-6 max-w-2xl mx-auto">
        Solicite um orçamento, agende uma visita técnica ou tire suas dúvidas.
      </p>

    </div>

    <div class="grid lg:grid-cols-2 gap-16 items-start">

        <div class="space-y-6">

          <div class="bg-slate-800 p-6 rounded-2xl border border-slate-700 ">

            <p class="text-slate-400 text-sm ">
              WhatsApp
            </p>

            <a href="https://wa.me/5541999538675" target="_blank"
              class="text-xl font-semibold mt-2 block hover:text-cyan-400 transition">
              (41) 9 9953-8675 — Valdir de Souza
            </a>

            <p class="text-slate-400 text-sm  mt-6 max-w-2xl mx-auto">
              E-mail
            </p>

            <a class="text-xl font-semibold mt-2 block">
              comercial&#64;seiama.com.br
            </a>

            <p class="text-slate-400 text-sm mt-6 max-w-2xl mx-auto ">
              Instagran
            </p>

            <a href="https://www.instagram.com/seiama.engenharia" target="_blank"
              class="text-xl font-semibold mt-2 block hover:text-cyan-400 transition">
              seiama.engenharia
            </a>

            <p class="text-slate-400 text-sm  mt-6 max-w-2xl mx-auto">
              Endereço
            </p>

            <h4 class="text-xl font-semibold mt-2 leading-relaxed">
              Francisco Novicki, 131 — Sítio Cercado
              <br />
              Curitiba/PR — CEP: 81900-402
            </h4>

          </div>

        </div>

      <div>

        <div class="space-y-6">

          <div class="bg-slate-800 p-10 rounded-3xl border border-slate-700">

            <h3 class="text-4xl font-bold leading-tight">
              Fale diretamente com nossa equipe
            </h3>

            <p class="text-slate-400 leading-relaxed mt-6 text-lg">
              Entre em contato pelo WhatsApp para solicitar
              orçamentos, suporte técnico ou informações
              sobre nossos serviços e equipamentos.
            </p>

          </div>

          <a href="https://wa.me/5541999538675?text=Olá,%20gostaria%20de%20mais%20informações." target="_blank"
            class="flex items-center justify-center gap-4 bg-green-500 hover:bg-green-400 transition duration-300 text-slate-900 font-bold py-4 rounded-2xl text-lg hover:scale-[1.02]">

            <img src="https://cdn-icons-png.flaticon.com/128/3670/3670051.png" alt="WhatsApp" class="w-10 h-10" />

            WhatsApp

          </a>

        </div>

      </div>

    </div>

    <div class="mt-16">

      <iframe src="https://www.google.com/maps?q=Francisco+Novicki,+131,+Curitiba,+PR&output=embed" width="100%"
        height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
        class="rounded-3xl border border-slate-700">
      </iframe>

    </div>

  </div>

</section>